<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-lg-6">
      <h3>Todo Application</h3>
    </div>
    <div class="col-lg-6">
      <ul class="nav d-flex justify-content-end">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            (click)="signupClicked()"
            >Ponpandiyan Subramaniyan</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr />
