// .card {
//   width: 50vw;

//   @media (max-width: 767px) {
//     width: 88vw;
//   }
// }
thead {
  @media (max-width: 767px) {
    display: flex;
  }
}
.empty-text-info {
  text-align: center;
  text-decoration: underline;
}
