<div class="container card p-2">
  <h1 class="text-center">Todo Form</h1>
  <form class="todo-form" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Todo Name</span>
      <input
        type="text"
        class="form-control"
        placeholder="Todo Name"
        aria-label="Todo Name"
        aria-describedby="basic-addon1"
        formControlName="name"
      />
    </div>
    @if(todoForm.controls['name'].invalid&&
    (todoForm.controls['name'].dirty||todoForm.controls['name'].touched)){
    <p class="text-danger">Enter a todo to continue...</p>
    }

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Description</span>
      <input
        type="text"
        class="form-control"
        placeholder="Description"
        aria-label="Description"
        aria-describedby="basic-addon1"
        formControlName="description"
      />
    </div>
    @if(todoForm.controls['description'].invalid&&
    (todoForm.controls['description'].dirty||todoForm.controls['description'].touched)){
    <p class="text-danger">Enter a Description to submit...</p>
    }

    <div class="submit-btn">
      <button class="btn btn-success" style="width: 35%" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
